{% load static %}


{% if page_obj.has_other_pages %}
<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">



        {% if page_obj.has_previous %}
            {% if page_obj.number|add:-2 == 1 or page_obj.number|add:-1 == 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1"> 1.</a>
                </li>
            {% elif not page_obj.number|add:-1 == 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; 1.</a>
                </li>
                <li class="page-item">
                    <a class="page-link">...</a>
                </li>
            {% endif %}
            {% if not page_obj.number|add:-1 == 1 %}
                <li class="page-item">
                    <a class="page-link inactive" href="?page={{ page_obj.number|add:-1 }}">{{ page_obj.number|add:-1 }}.</a>
                </li>
            {% endif %}
        {% endif %}


        <li class="page-item active">
            <a class="page-link">{{ page_obj.number }}.</a>
        </li>


        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}.</a>
            </li>
            {% if not page_obj.number|add:1 == page_obj.paginator.num_pages %}
                {% if page_obj.number|add:2 == page_obj.paginator.num_pages or page_obj.number|add:1 == page_obj.paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}.</a>
                    </li>
                {% elif not page_obj.number|add:1 == page_obj.paginator.num_pages %}
                    <li class="page-item">
                        <a class="page-link">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}. &raquo;</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endif %}
    </ul>
</nav>
{% endif %}